/* @import '../public/themes/prime-custom/primereact.css';
@import '../public/themes/prime-custom/theme.scss';
@import '../public/themes/prime-custom/primeicons.css'; */
/* @import 'color-variable.scss'; */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background-image {
  background-image: url('../public/Arctic.png');
}

body {
  overflow: hidden !important;
}

/* default styles to carousel */
.carousel-demo .product-item .product-item-content {
  margin: .3rem;
  text-align: center;
  padding: 0 0 2rem 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.22);
  height: 280px;
}
.carousel-demo .product-item .product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ellipsis-text{
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.posicion-inicial{
  bottom: -60%;
}

/* Animations */
@keyframes toUp {
  from {bottom: -60%;}
  to {bottom: 0px;}
}
.show {
  animation: toUp 3s forwards;
}

@keyframes toDown {
  from {bottom: 0px;}
  to {bottom: -60%;}
}
.hide {
  animation: toDown 3s forwards;
}

@keyframes toRight {
  from {left: -224px;}
  to {left: 0px;}
}
.line-left {
  position: relative;
  animation: toRight 2s ease-out;
}

@keyframes toLeft {
  from {right: -224px;}
  to {right: 0px;}
}

.line-right {
  position: relative;
  animation: toLeft 2s ease-out;
}

.btn-arrow{
  padding: 5px 10px 0 10px;
  --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity));
  width: max-content;
  height: max-content;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  position: relative;
  bottom: 6%;
  cursor: pointer;
}

.toggle-btn {
  padding: 5px 10px 0 10px;
  --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity));
  width: 37px;
  height: 22px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  position: relative;
  bottom: 5.5%;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 13px;
}

.arrow::before,
.arrow::after {
  position: relative;
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background: white;
  transition: 0.3s ease-in-out;
}

.arrow::before {
  transform: rotate(45deg);
}
.arrow::after {
  left: 6px;
  top: -1px;
  transform: rotate(-45deg);
}

.toggle-btn.active .arrow::before {
  transform: rotate(-45deg);
}

.toggle-btn.active .arrow::after {
  transform: rotate(45deg);
}



